body{
    background-image: url("../images/giphy.gif");
}

.header{
    align-content: center;
    color: white;
    margin-top: 100px;
    padding:20px;
    background-image: linear-gradient( to bottom right, rgb(44, 53, 136), rgb(44, 34, 77));
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1em;
    border: 5px outset rgb(105, 50, 105);
    border-radius: 300px;
    font-family: 'Staatliches', cursive;

    
}

.content{
    
    background-image: linear-gradient( to bottom right, rgb(44, 53, 136), rgb(68, 49, 131));
    margin-top:50px;
    margin-bottom: 100px;
    border: 5px outset rgb(105, 50, 105);
    border-radius: 20px;
    color:white;
    font-size:100px;
    text-align: center;
    padding:75px;
    font-family: 'Staatliches', cursive;
    
    /*font-family: 'Suez One', serif;*/
    line-height: 200px;
    word-spacing: 20px;
    letter-spacing: 20px;
}


.timer{
    background-image: linear-gradient( to bottom right, rgb(44, 53, 136), rgb(68, 49, 131));
    color: white;
    text-align: center;
    margin-bottom:40px;
    font-size: 30px;
    font-family: 'Staatliches', cursive;
}

h2{
    font-family: 'Marcellus SC', serif;
    margin-top:50px;
    margin-bottom:50px;
    letter-spacing: 1px;
}

li{
    font-size: 20px;
}
input, form{
    font-size:20px;
    font-family: 'Marcellus SC', serif;
}
.done{
    align-content: center;
    color: white;
    margin-top: 50px;
    padding:20px;
    background-image: linear-gradient( to bottom right, rgb(136, 44, 87), rgb(34, 77, 70));
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1em;
    border: 5px outset rgb(105, 50, 105);
    border-radius: 30px;
    font-family: 'Staatliches', cursive;
}

p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 1px;
}